h1 {
    text-align: center;
    padding-top: 10px;
    font-weight: bolder;
}

h3 {
    text-align: center;
    padding-bottom: 15px;
}

h4 {
    text-align: center;
}

h5 {
    text-align: center;
}

p {
    text-align: center;
}

.dropdown {
    margin-left: 45%;
    padding-bottom: 30px;
    align-content: center;
}

.container-fluid {
    padding-top: 30px;
    /* padding-left: 50px; */
}

.table {
    margin-left: 100px;
    margin-bottom: 60px;
}

.line-chart {
    padding-left:25px;
}

/* .bar-chart {
    padding-right: 25px;
}

.pie-area {
    padding-right: 50px;
} */